*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color: blue;
    color: #fff;
}
.img-galaxy{
    width: 18vw;
    border-radius: 15px;
    margin: 10px;
}
main{
   display: flex;
   justify-content: center;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*! height: 15vh; */
}
.box-list{
    margin-top: 2%;
    background-color: #000;
    width: 30vw;
    padding: 15px;
}
h2 {
    width: 100%;
    height: 15vh;
    background: white;
    color: black;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
}
